html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

#clickToDragPiece {
  transform: scale(1.6, 1.6);
}
.isDead {
  transform: scale(0.6, 0.6);
  animation: blinker 3s linear infinite;
}
.isProposal1 {
  transform: scale(0.6, 0.6);
  opacity: 0.5;
}
.isProposal2 {
  transform: scale(0.8, 0.8);
  opacity: 0.7;
}
@keyframes blinker {  
  50% { opacity: 0.1; }
}

.slowlyDrop {
  animation: slowlyDrop 0.5s ease-out;
}
@keyframes slowlyDrop {
  from {transform: scale(1.6, 1.6);}
  to {transform: scale(1, 1);}
}

.explodePiece {
  z-index: 5;
  animation: explodePiece 0.5s cubic-bezier(0.420, 0.000, 1.000, 0.830) forwards;
}
@keyframes explodePiece {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(3, 3) rotate(10deg);
  }
}

.boardStone {
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/roboto/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
.confirmBtn {
  background-color: green !important;
  float: right;
}
.passBtn {
  float: left;
}
.confirmingPass {
  border: 3px solid green;
}
.pass0 {
  background-color: red !important;
}
.pass1 {
  background-color: darkred !important;
}
.continuePlayingBtn {
  background-color: darkorange !important;
}
.btnAsText {
  background-color: inherit !important;
  color: grey;
  cursor: none !important;
  font-size: 20 !important;
}
#boardArea {
  position: absolute;
  display: block;
  top:0;
  left:0;
  width:100%;
  height: 80%;
  background-color:#eab860;
  z-index:100;
  border-radius: 3%;
}
.buttonArea {
  position: absolute;
  display: block;
  top:80%;
  left:0;
  width:100%;
  height: 20%;
}
.hidePassButton {
  height: 100% !important;
}
.inheritFontSize {
  font-size: inherit !important;
}
.text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}
.selectSize {
  background-color: green;
  margin: 10px auto 0 auto;
  display: block;
}
button {
  background-color: grey;
  color: white;
  margin: 20px auto 0 auto;
  padding: 5px;
  display: inline;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: button;
  overflow: visible;
  border-radius: 6px;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}


.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1001;
}
.overlayModal {
  background: rgba(0,0,0,0.5);
  text-align:center;
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -moz-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}
.zeroOpacity {
  visibility: hidden;
  opacity: 0;
}
.oneOpacity {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
.modal-backdrop {
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: none;
    height: auto;
}